{
  "comments": false,
  "presets": [["@babel/preset-env", { "spec": true, "modules": "auto" }]],
  "plugins": [
    ["@babel/plugin-proposal-class-properties", { "loose": true }],
    "@babel/plugin-syntax-dynamic-import",
    "@babel/plugin-transform-runtime"
  ]
}
