html,
body {
  margin: 0;
  padding: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

html {
  font-family: monospace;
}

p,
button,
label {
  border: none;
  outline: none;
  background: none;
  color: white;
  font-weight: bold;
  margin: 0;
  font-size: 20px;
  line-height: 120%;
}

.hidden {
  display: none !important;
}

.asdasd {
  color: #c329c9;
}

#menu {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: auto;
  width: 400px;
  height: 340px;
  padding: 16px;
  color: white;
  background-color: rgba(124, 124, 124, 0.7);
  label {
    display: block;
  }
  button {
    align-self: flex-start;
    cursor: pointer;
    &::before {
      // display: block;
      content: '↴ ';
    }
  }
  p {
    color: rgba(255, 255, 255, 0.6);
  }
  input[type='range'] {
    vertical-align: middle;
    margin: 0 8px;
  }
  .rangeval {
    color: #ccc;
  }
}

#game {
  display: block;
}

#info {
  position: fixed;
  top: 10px;
  left: 10px;
}

#text-overlay {
  position: fixed;
  z-index: 100;
  left: 0;
  top: 0;
  bottom: 0;
  right: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: black;
  .error {
    color: white;
    display: block;
  }
  .loading {
    color: white;
    display: block;
    &:after {
      display: inline-block;
      width: 0;
      overflow-x: visible;
      animation: dotty steps(1, end) 1s infinite;
      content: '';
    }
  }
}

@keyframes dotty {
  0% {
    content: '';
  }
  25% {
    content: '.';
  }
  50% {
    content: '..';
  }
  75% {
    content: '...';
  }
  100% {
    content: '';
  }
}
