extends ../node_modules/webpack-boiler/template.pug

block page_content
  section
    .container
      h1 Inf Terrain
      hr
      canvas(id="canvas" width="800" height="620")
      br
      button(id="clear-cache") Clear Cache
